*{
  text-align: center;
}

  /* *{
  border: 1px solid black;
}  */

.veng-spirit{
  height: 300px;
  width: 500px;
}


/* .progress-bar{
  /* align-content: center; */
  /* justify-content: center; */
